/*////////////////////////////////////////////////////*/
/*ESTILOS FOOTER*/
/*////////////////////////////////////////////////////*/

.footer--color {
    background: linear-gradient(234deg, rgba(2,115,115,1) 0%, rgba(151,157,166,1) 25%, rgba(193,212,217,1) 100%);
}

/*@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/
/* Media queries Footer*/
/*@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/

@media (max-width: 768px) {
    .footerNav li{
        display: inline-block;
        padding: 10px;
        flex-wrap: wrap;
    }
}

/*@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/